body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #333;

    font-family: "montserrat", sans-serif;
}

.loading {
    box-sizing: border-box;

    width: 200px;
    height: 200px;

    border-top: 10px solid red;
    border-radius: 50%;

    animation: spinning1 2s linear infinite;
}

.loading::before,
.loading::after {
    content: '';
    box-sizing: border-box;
    position: absolute;

    top: -10px;
    left: 0;

    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid orange;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid aqua;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;

    width: 200px;
    height: 200px;

    color: white;
    text-align: center;
    line-height: 200px;

    animation: spinning2 2s linear infinite;
}

@keyframes spinning1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinning2 {
    to {
        transform: rotate(-360deg);
    }
}